.promo-block {
    /*position: relative;*/
    /*padding: 20px;*/
    /*margin-top: 400px;*/
}


.image-vector, .chips, .shadow, .substract {
    display: flex;
}

.winprizes-container {
    position: relative;
    margin-top: 20px;
}

.steps {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}

.step {
    width: 280px;
    padding: 0;
    z-index: 0;
    font-family: "Flame Bold", sans-serif;
    color: #341700;
}

.step-number {
    font-size: 40px;
    position: absolute;
    text-align: center;
    margin-top: 10px;
    z-index: 1;
    top: 16%;
    margin-left: 50px;
}

.step-text {
    position: absolute;
    text-align: center;
    z-index: 1;
    top: 24%;
    margin-left: 50px;
    /*padding-top: 6px;*/
    font-family: "Flame Regular", sans-serif;
}

.step-name {
    position: absolute;
    text-align: center;
    z-index: 1;
    top: 28%;
    margin-left: 50px;
    font-size: 14px;
    font-family: "Flame Regular", sans-serif;
    padding-top: 6px;
}

.rectlange-img {
    max-width: 390px;
    padding: 0;
    margin: 0;
}

.text-container {
    margin-top: 40px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 16px;
    padding: 4px;
    margin-top: 20px;
}

.how-prizes-text {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: -400px;
    font-family: "Flame Bold", sans-serif;
}